<div id="centralComponent">
  <form id="searchForm" (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div id="searchComponent">
      <img id="searchImage" src="assets/img/search_button.png">
      <input id="searchInput" name="searchInput" type="text" [(ngModel)]="searchRequest" placeholder="Search"/>
    </div>
  </form>

  <div id="currentSnippetPath" class="tableHeader" *ngIf="currentSnippetPath != null">
    {{currentSnippetPath}}
  </div>
  <table id="snippetTable" class="codeTable">
    <tr *ngFor="let line of snippet; let i = index">
      <td class="lineContent" [ngClass]="{'centralCodeLine': i === 2}">
        {{replaceEmptyString(line)}}
      </td>
    </tr>
  </table>

  <div id="searchResultsTableHeader" class="tableHeader" *ngIf="searchResponse != null && searchResponse.length !== 0">
    {{printMatches()}}
  </div>

  <div id="searchResultsTableScrollableArea" class="codeTable">
    <table id="searchResultsTable">
      <tr *ngFor="let line of searchResponse; let i = index" (click)="rowClick(i, line.path, line.lineNumber)"
          [ngClass]="{'selectedLine': i === selectedRow}">
        <td class="lineContent">{{line.content}}</td>
        <td class="linePath">{{reducePath(line.path)}}</td>
        <td class="lineNumber">{{line.lineNumber}}</td>
      </tr>
    </table>
  </div>

  <div id="noResultsComponent" *ngIf="searchResponse != null && searchResponse.length === 0">
    <img id="noResultsImage" src="assets/img/no_results.png">
    <span id="noResultsText"> No matches found </span>
  </div>

</div>
